

.btn {
    color: black;
    background-color: white;
    border: 1px solid black;
}
.btn:hover {
    color: white;
    background-color: black;
}
.zoom-image {
    transition: 2.3s;
}
.zoom-image:hover {
    transform: scale(1.3);
    opacity: .3;
}
.kedai {
    width: 30%;
    font-size: 18px;
    font-weight: 5px;
}
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rotate {
    display: inline-block;
    animation: rotate360 4s linear forwards;
}
.malak {
    margin-left: 120px;
}
.malak2 {
    margin-left: 1020px;
}
